<h1>Edit product</h1>

<% if authenticated? %>
  <%= render "form", product: @product %>
  <%= link_to "Cancel", @product %>
<% else %>
  <p>This is only available for authenticated users </p>
<% end %>